.contact {
	display: flex;
	flex-direction: column;
	margin: 5rem auto;
	max-width: 100rem;
	gap: 2rem;
}

.contact__header {
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
}

.contact__form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 1rem;
}

.contact__input-container input, 
.contact__input-container textarea {
	font-size: 1.8rem;
}

.contact__input {
 border: solid 1px;
 background-color: #B98F8F;
 font-size: 2rem;
}

.contact__button {
	align-self: center;
 	border: solid 1px black;
	border-radius: 4rem;
	margin: 2rem;
	transition: all 0.3s;
	font-size: 3rem;
	padding: 2rem;
}

.contact__button:hover,
.contact__button:active {
	background-color: #B98F8F;
}

.contact__input-container {
	display: flex;
	flex-direction: column;
	
}

@media screen and (max-width: 550px) {
	.contact__button {
		font-size: 2rem;
		padding: 1rem;
	}
}