.header {
	padding: 0 2rem;
	background-color: #B98F8F;
	height: 6rem;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 50;
	margin-bottom: 5rem;
}

.header__other-links {
	display: flex;
	font-size: 2rem;
	list-style: none;
	gap: 5vw;
}

.header__other-links a:visited {
	color: inherit;
}

.header__navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	height: 4rem;
	width: 4rem;
}

.header__logo img {
	width: 100%;
	height: auto;
}

.header__navigation-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	position: absolute;
	left: 0;
	top: 6rem;
	background-color: #b98f8ff5;
	width: 100vw;
	height: calc(100vh - 6rem);
	font-size: 3rem;
	justify-content: space-around;
	align-items: center;
	display: none;
}

.header__navigation-list--visible {
	display: flex;
}

.header__navigation-list a:visited {
	color: inherit;
}

.header__navigation-button {
	width: 4rem;
	height: 4rem;
	background-color: inherit;
	border: solid 1px black;
	border-radius: 3px;
}

.header__navigation-button img{
	width: 100%;
	height: auto;
}

.header__list-item-button {
	background: inherit;
	font-size: inherit;
	font-family: inherit;
	border: none;
}

@media screen and (max-width: 550px) {
	.header__other-links {
		display: none;
	}
}

@media screen and (max-width: 350px) {
	.header__navigation-list {
		font-size: 2rem;
	}
}