.series {
	display: flex;
	max-width: 120rem;
	margin: 0 auto 30rem auto;
}

.series__container {
	display: flex;
	width: 120rem;
}

.series__content-left {
 	width: 50%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.series__content-right {
 	width: 50%;
	padding: 2rem;
	font-size: 2rem;
}

.series__star {
	width: 3rem;
	border: none;
	background-color: white;
}

.series__stars {
	display: flex;
}

.series__description,
.series__actor-container,
.series__airing-container {
	margin-bottom: 3rem;
}

.series__actor-list {
	margin-left: 4rem;
	font-weight: 500;
}

.series__header {
	margin-bottom: 2rem;
	font-size: 4rem;
}

.series__review {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.series__description-header,
.series__actor-header,
.series__airing-header,
.series__rating-header {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

@media screen and (max-width: 550px) {
	.series {
		margin: 0 auto 15rem auto;
	}

	.series__container {
		flex-direction: column;
	}
	.series__content-left,
	.series__content-right {
		width: 100%;
	}
}